@import "@styles/shared";

:host {
  padding: em(30);
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  width: 65%;
  flex: {
    direction: row;
    wrap: wrap;
  }

  planning-poker-card {
    margin: 1%;
  }
}

.sidebar {
  width: 35%;
  padding: em(25);

  ul {
    margin: 0;
    padding: em(20) 0;
    display: block;

    li {
      margin: 0;
      padding: em(2) 0;
      display: block;
      list-style: none;

      &:before {
        content: '- ';
      }
    }
  }
}
