@import "@ui/shared";

:host {
  padding: em(30);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  margin: 0 1% 1%;
}

.cards {
  display: flex;
  width: 100%;
  flex: {
    direction: row;
    wrap: wrap;
  }

  planning-poker-card-container {
    width: (100% / 7) - 2;

    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
      -webkit-appearance: none;
      border-style: none;
      opacity: 0;
    }

    planning-poker-card-item {
      &.card-selected {
        transform: scale(1.075);
      }

      &.card-not-selected {
        opacity: .4;
      }
    }
  }
}

.sidebar {
  width: 35%;
  padding: em(25);

  ul {
    margin: 0;
    padding: em(20) 0;
    display: block;

    li {
      margin: 0;
      padding: em(2) 0;
      display: block;
      list-style: none;

      &:before {
        content: '- ';
      }
    }
  }
}

.modal-container {
  .modal-content {
    height: 90%;
    width: 90%;
    background-color: $colorBackgroundPrimary;

    h1 {
      padding: 0 1% 1%;
      align-self: flex-start;
      font-size: $h1FontSize * .8;
    }
  }
}
