<header>
  <h1>ROOM ID: {{roomId}}</h1>
  <span class="clock">{{currentTime$ | async | date:'HH:mm'}}</span>
</header>

<div class="cards">
  <ng-container *ngFor="let user of users$ | async">
    <planning-poker-card [boardCard]="true"
                         [review]="reviewCardsSubject$ | async"
                         [card]="user.card"
                         [label]="user.name"
                         [playerReady]="user.status === userStatues.VOTED"></planning-poker-card>
  </ng-container>
</div>

<footer>
  <button planningPokerButton
          class="toggle-game-state"
          [buttonColor]="buttonColors.SECONDARY"
          [ngSwitch]="gameState$ | async"
          (click)="toggleGameState()">
    <ng-container *ngSwitchCase="gameStates.REVIEW">New voting</ng-container>
    <ng-container *ngSwitchDefault>Finish Voting</ng-container>
  </button>
</footer>
