<div class="cards">
  <ng-container *ngFor="let player of players$ | async">
    <planning-poker-card [boardCard]="true"
                         [gameState]="gameState$ | async"
                         [card]="player.card"
                         [label]="player.name"
                         [playerReady]="player.status === userStatues.VOTED"></planning-poker-card>
  </ng-container>
</div>

<div class="sidebar">
  <header class="sidebar-header">
    <h1>ROOM ID:</h1>
    <h2 planningPokerTextFixedWidth>{{roomNumber$ | async}}</h2>

    <planning-poker-text-fixed-width class="clock"
                                     [value]="currentTime$ | async | date:'HH:mm'">
    </planning-poker-text-fixed-width>
  </header>
  <footer class="sidebar-footer">
    <button planningPokerButton
            class="toggle-game-state"
            [buttonColor]="buttonColors.PRIMARY"
            [ngSwitch]="gameState$ | async"
            (click)="toggleGameState()">
      <ng-container *ngSwitchCase="gameStates.REVIEW">New voting</ng-container>
      <ng-container *ngSwitchDefault>Finish Voting</ng-container>
    </button>

    <button planningPokerButton
            [buttonColor]="buttonColors.SECONDARY"
            (click)="copyToClipboardRoomLink()"
            [ngSwitch]="linkCopied$ | async">
      <ng-container *ngSwitchDefault>Get room link</ng-container>
      <ng-container *ngSwitchCase="true">Link copied</ng-container>
    </button>

    <button planningPokerButton
            [buttonColor]="buttonColors.INACTIVE"
            (click)="closeRoom()">
      <ng-container>Close room</ng-container>
    </button>
  </footer>
</div>

<div class="modal-container"
     *ngIf="leaveModalVisibility$ | async">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <p>
      Are you sure to end this session?
    </p>
    <footer class="modal-footer">
      <button planningPokerButton
              [buttonColor]="buttonColors.ACCENT"
              (click)="leaveModalAction(true)">
        YES
      </button>
      <button planningPokerButton
              [buttonColor]="buttonColors.ACCENT"
              (click)="leaveModalAction(false)">
        NO
      </button>
    </footer>
  </div>
</div>
