<planning-poker-table [players$]="players$"
                      [gameState$]="gameState$"></planning-poker-table>

<div class="sidebar">
  <header class="sidebar-header">
    <h1>ROOM ID:</h1>
    <h2 haxitTextFixedWidth>{{roomNumber$ | push}}</h2>

    <haxit-text-fixed-width class="clock"
                                     [value]="currentTime$ | push | date:'HH:mm'">
    </haxit-text-fixed-width>
  </header>

  <footer class="sidebar-footer">
    <button haxit-button
            class="toggle-game-state"
            [buttonColor]="buttonColors.PRIMARY"
            [ngSwitch]="gameState$ | push"
            (click)="toggleGameState()">
      <ng-container *ngSwitchCase="gameStates.REVIEW">New voting</ng-container>
      <ng-container *ngSwitchDefault>Finish Voting</ng-container>
    </button>

    <button haxit-button
            [buttonColor]="buttonColors.SECONDARY"
            (click)="copyToClipboardRoomLink()"
            [ngSwitch]="linkCopied$ | push">
      <ng-container *ngSwitchDefault>Get room link</ng-container>
      <ng-container *ngSwitchCase="true">Link copied</ng-container>
    </button>

    <button haxit-button
            [buttonColor]="buttonColors.INACTIVE"
            (click)="closeRoom()">
      <ng-container>Close room</ng-container>
    </button>
  </footer>
</div>
