@import "@styles/shared";

:host {
  padding: em(30) em(30) em(102);
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

header {
  padding: 0 0 em(10);
  margin: 0 1%;
  display: flex;

  .clock {
    margin-left: auto;
    color: $colorSecondary;
    font: {
      size: em($h1FontSize);
      weight: 700;
    }
  }
}

.cards {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  padding: 0 em(30);
  margin: {
    left: negative(em(30));
    right: negative(em(30));
  };

  planning-poker-card {
    margin: em(50) 1% 1% 1%;
  }
}
.board-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: em(15) em(30);
  background: $colorBackgroundPrimary;

  button {
    margin: 0 1%;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($colorBackgroundPrimary, .8);
  }

  .modal-content {
    position: relative;
    background-color: $colorPrimary;
    color: $colorBackgroundPrimary;
    height: em(200);
    width: em(500);
    padding: em(30);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    p {
      font-size: em(20);
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    button {
      &.planning-poker-button {
        margin: 0 em(15);
        min-width: em(180);
        height: em(60);
      }
    }
  }
}
