@import "@ui/shared";

:host {
  padding: 0 em(20);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.sidebar {
  order: 0;
  flex: 0 0 27%;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  height: 100%;
  padding: {
    top: em(45);
    left: em(15);
  }

  .sidebar-header {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      font-size: em($h1SecondFontSize);
      letter-spacing: em(1.5);
    }

    h2 {
      font-size: em($h1FontSize + 4);
    }

    .clock {
      margin: {
        top: auto;
        left: auto;
      }
      color: $colorSecondary;
      font: {
        size: em($h1SecondFontSize);
        weight: 700;
      }
    }
  }

  .sidebar-footer {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    width: 100%;

    button {
      margin: em(30) 0;
      width: 100%;
    }
  }
}
