<planning-poker-layout>
  <planning-poker-header>
    <h1>Join to exsiting room</h1>
  </planning-poker-header>

  <planning-poker-content>
    <planning-poker-code [codeLength]="5"
                         [value]="queryRoomCode"
                         [isLoading$]="loading$"
                         [isSuccess$]="success$"
                         [isError$]="error$"
                         (codeSubmit)="onRoomNumberSubmit($event)"></planning-poker-code>
  </planning-poker-content>
</planning-poker-layout>
