@import "@styles/shared";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookies-container {
  @include primaryBorderRadius();
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: em(30);
  margin: 0 em(20);
  padding: em($controlSidePadding) em($controlSidePadding) em($controlSidePadding) em($controlSidePadding);
  background-color: darken($colorPrimary, 10);
  color: $colorBackgroundPrimary;
  transition: background-color 250ms ease;
  z-index: 999;
  max-width: em(900);
  box-shadow: 0 em(20) em(40) rgba($colorDark, .25);

  &:hover {
    background-color: $colorPrimary;
  }
}

p {
  margin: 0;
  padding: 0 em(30);
  font: {
    size: em(13);
    weight: 700;
  }
}

button {
  font-size: em(12);
  min-width: 9em;
  height: 3.5em;
}

img {
  height: em(38);
}
