<form [formGroup]="formGroup">
  <ng-container *ngFor="let control of codeFormArray.controls; let i = index">
    <input #inputElement
           type="tel"
           maxlength="1"
           (keypress)="onInputKeyPress($event, control)"
           (keydown)="onInputKeyUp($event, control)"
           [formControl]="control">
    <span class="spacer"
          *ngIf="i < codeFormArray.controls.length - 1"></span>
  </ng-container>
  <button #submitButton
          haxit-button
          buttonColor="transparent"
          class="submit-button"
          small
          [disabled]="isLoading$ | async"
          (click)="submit()">

    <ng-container *ngIf="(isSuccess$ | async) === false && (isError$ | async) === false">
      <haxit-icon *ngIf="(isLoading$ | async) === false">
        arrow_forward
      </haxit-icon>

      <haxit-icon class="loop-loader"
                           *ngIf="isLoading$ | async">
        loop
      </haxit-icon>
    </ng-container>

    <haxit-icon *ngIf="isSuccess$ | async">
      check
    </haxit-icon>

    <haxit-icon *ngIf="isError$ | async">
      close
    </haxit-icon>
  </button>
</form>
