@import "@ui/shared";

.form-container {
  position: relative;

  ::ng-deep {
    .submit-button {
      position: absolute;
      top: 0;
      right: em($controlSidePadding);
      bottom: 0;
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      haxit-icon {
        .material-icons {
          font-size: em(38);
        }
      }
    }
  }
}
