<planning-poker-layout>
  <planning-poker-header>
    <h1 class="main-landing-header">Planning Poker</h1>
    <h2>Probably the easiest one to use</h2>
  </planning-poker-header>

  <planning-poker-content>
    <button haxit-button
            buttonColor="secondary"
            (click)="goToGuestPath()">Join existing room
    </button>
    <span class="hidden-on-mobile">or</span>
    <button class="hidden-on-mobile"
            haxit-button
            (click)="goToHostPath()">Create new one
    </button>
  </planning-poker-content>


</planning-poker-layout>

<div class="poker-footer">
  Created by&nbsp;<a href="http://haxit.pl/"
                     target="_blank">haxit</a>.
  {{appInfo$ | async}}
</div>
