@import "@styles/shared";

planning-poker-content {
  font-weight: 700;

  > * {
    margin: 0 em(15);
  }
}

planning-poker-header {
  position: relative;

  h2 {
    display: flex;
    width: 100%;
    padding-top: em(10);

    @include media-breakpoint-up(sm) {
      position: absolute;
      top: em(45);
      padding-top: 0;
    }
  }
}

.poker-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text: {
    align: center;
    transform: uppercase;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: em(14);
  color: $colorInactive;
  padding-bottom: em(10);
  margin: {
    top: auto;
    bottom: 0;
  }
}
