<planning-poker-layout>
  <planning-poker-header>

    <ng-container *ngIf="!queryRoomCode">
      <h1>Join to exsiting room</h1>
    </ng-container>

    <ng-container *ngIf="queryRoomCode">
      <h1 class="main-landing-header">Planning Poker</h1>
      <h2>Join to exsiting room</h2>
    </ng-container>

  </planning-poker-header>

  <planning-poker-content>
    <planning-poker-code [codeLength]="5"
                         [value]="queryRoomCode"
                         [isLoading$]="loading$"
                         [isSuccess$]="success$"
                         [isError$]="error$"
                         (codeSubmit)="onRoomNumberSubmit($event)"></planning-poker-code>
  </planning-poker-content>
</planning-poker-layout>
