<div class="header">
  <h1>Room {{roomNumber$ | async}}</h1>
</div>

<div class="cards">
  <ng-container *ngFor="let card of cards">
    <planning-poker-card-container>
        <button [class.card-selected]="isCardSelected(card) | async"
                (click)="onCardClick(card)"
                haxitRipple></button>
        <planning-poker-card-item [class.card-selected]="isCardSelected(card) | async"
                                  [class.card-not-selected]="isCardNotSelected(card) | async">
          <planning-poker-card-symbol [card]="card"></planning-poker-card-symbol>
        </planning-poker-card-item>
    </planning-poker-card-container>
  </ng-container>
</div>
