<planning-poker-layout>
  <planning-poker-header>
    <h1>Introduce yourself</h1>
  </planning-poker-header>

  <planning-poker-content>
    <planning-poker-form-container>
      <form [formGroup]="formGroup">
        <input type="text"
               formControlName="name"
               planningPokerFocus
               planningPokerInput>
        <button class="submit-button"
                haxit-button
                small
                [buttonColor]="buttonColor.TRANSPARENT"
                (click)="submit()">
          <haxit-icon>
            arrow_forward
          </haxit-icon>
        </button>
      </form>
    </planning-poker-form-container>
  </planning-poker-content>
</planning-poker-layout>
