@import "@ui/shared";

.planing-poker-input {
  @include primaryOutline();
  @include primaryBorderRadius();
  height: em($controlHeight);
  min-width: em($controlMinWidth);
  padding: 0 em($controlSidePadding + 5);
  background: transparent;
  color: $colorSecondary;
}
